*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: rgba(3, 3, 57, 0.954);
}


.app{
    
    background: rgb(21,19,27);
    width:90%;
    max-width: 800px;
    /* min-height: 600px; */
    margin: 100px auto 0;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 10px 10px;

}
h1{
    margin: 25px auto 0;
    text-align: center;
}
 #question{
    text-align: center; 
    /* margin-top: 30px; */
    color: purple;
    font-size: 15px;
}

#answer-buttons{
    /* justify-content: center;
     gap:6px; */
     display: none;
 
}

.content-button{
    display: inline-block;
    margin: 0px 10px 50px 15px; 
    display: none;
   

  
}

.btn{
    margin-top: 50px;
    width:160px;
    height: 40px;
    border-radius: 20px;
    background: rgb(0, 157, 255);
    color:#fff;
    font-size: 20px;
    cursor:pointer;
    transition: all 0.3s;
    gap:6px;
    
   
}
.btn:hover{
    /* background: rgb(17, 17, 61); */
}
#next-btn{
    width:200px;
    height: 40px;
    margin: 20px auto 0;
    display:none;
    border-radius: 4px;
    /* background: rgb(17, 17, 61);  */
    color: #fff;
    font-size: 20px;
    /* border: 2px solid red; */
}
.music{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
p{
    font-size: 20px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.correct{
    background: green;
}

.para-content{
    position: absolute;
    bottom: 366px;
    left: 280px;
}
.edit{
    font-weight: 800;
    color: red;
}
/* .count-pull{
    position: absolute;
    bottom: 330px;
    left: 300px;
} */

 #countdown{
    position: relative;
    bottom: 189px;
    left: 30px; 
    color:blue;
    font-size: 15px;
    
 }
.tag{
    position: relative;
    bottom: 190px;
    left: 15px;
    color:orangered;
    font-size: 15px;
    font-weight: 700;
}
.present-content{
    display: flex;
    justify-content: center;
    padding: 0px 0px 200px 40px;
   
}
#present-score{
    display: none;
    color:#fff;
    
}


@media (max-width:768px) {
     .app{
        width:680px;
        height: 400px;   
    } 


.para-content{
    position: absolute;
    bottom: 286px;
    left: -20px;
} 

 .edit{
    position: relative;
    bottom: 80px;
    left: 80px;
 }

 .tag{
    position: relative;
    bottom: 146px;
    left: 20px; 
 }

 #countdown{
    position: relative;
    bottom: 145px;
    left: 22px;  
 }
 .correct{
    background: green;
 }
/* 
.count-pull{
    position: absolute;
    bottom: -10px;
    left: 560px;
}  */
.content-button{
    margin: 0 0 5px 25px;
    /* background-color: red;
    width: 700px;
    height: 600px; */
}
.btn{
    width:130px;
    height: 40px;
    border-radius: 20px;
    background: rgb(0, 157, 255);
    color:#fff;
    font-size: 15px;
    cursor:pointer;
    transition: all 0.3s;
    gap:6px;  
}
   
}

@media (max-width:500px) {

   body{
    /* padding: 0px 0px 0px 0px;
    height: 90px; */
   }
    .app{
        max-width:90%;
        height: 500px;
        
    }
    .para-content{
        position: absolute;
        bottom: 260px;
        left: -23px;
    }
    .tag{
        position: relative;
        bottom: 240px;
        left: 10px;
        font-size: 18px;  
    } 
    #countdown{
        position: relative;
        bottom: 240px;
        left: 10px;
        font-size: 18px 
    }
/* 
    .count-pull{
        position: relative;
        bottom: 50px;
        padding: 40px 0 800px 10px;
    } */



    
 .edit{
    position: relative;
    bottom: 80px;
    left: 200px;
 }
 .content-button{
    padding: 0px 0px 0px 25px;
 }

}