*{
    margin:0;
    padding: 0;

}

body{
    background: rgba(3, 3, 57, 0.954); 
}







.down{
    /* padding-bottom: 240px; */
}

.startup{
    background: rgb(21,19,27);
    width:70%;
    max-width: 898px;
    /* height: 750px; */
    margin: 90px auto 0;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 10px 10px; 
}
.head-start{
 padding: 30px 0 0px 0; 
}
#header{
    position: relative;
    bottom: 150px;
    left:280px;
   color:rgb(245, 184, 70); 
}
#computer{
    /* margin: 0px 0 0 284px; */
    /* text-align: center; */

}
 .button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0 20px;
    gap: 10px;
    position: absolute;
    top: 254px;
    left: 500px;
 }
 .start-btn{
    width:170px;
    height: 35px;
    background: #1e90ff;
    border: 4px solid rgb(251, 214, 7);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
 }

 #present-score{
    color:#fff;
    text-align: center;
 }
 #question{
    text-align: center; 
    /* margin-top: 30px; */
    color: purple;
    font-size: 15px;
}


#answer-buttons{
    position: relative;
    bottom: 100px;
    left:80px;
    gap:70px;
    padding: 30px 0px 0 0px;
    /* background-color: chartreuse; */
    /* width: 700px; */
    /* height: 120px; */
    /* margin: 0 20px 0 20px; */
     
 
}
.content-button{
    display: inline-block;
    margin: 0px 10px 50px 15px; 
    display: none;
}



.btn{
    margin: 50px 10px 0 5px;
    width:160px;
    height: 50px;
    border-radius: 20px;
    background: rgb(0, 157, 255);
    color:#fff;
    font-size: 14px;
    cursor:pointer;
    transition: all 0.3s;
    gap:20px;
    border: 4px solid orange;
   
}
.btn:hover{
    /* background: rgb(17, 17, 61); */
}
#next-btn{
    width:230px;
    height: 30px;
    margin: 20px auto 0;
    display:none;
    border-radius: 15px;
    background: rgb(7, 7, 228); 
    color: #fff;
    font-size: 20px;
    border: 2px solid  white;
}
.music{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
p{
    font-size: 20px;
    /* display:inline-flex; */
    align-items: center;
    justify-content: center;
}
.correct{
    background: green;
}

.incorrect{
    background: red;
}

.para-content{
    position: absolute;
    bottom: 366px;
    left: 280px;
}
.edit{
    position: relative;
    left:350px;
    bottom: 10px;
    font-weight: 800;
    color: red;
    font-size: 25px;
    
}

.good{
    position: relative;
    left:380px;
    bottom: 10px;
    font-weight: 800;
    color:blue;
    font-size: 25px;  
}
/* .count-pull{
    position: absolute;
    bottom: 330px;
    left: 300px;
} */

 #countdown{
    position: relative;
    bottom: 189px;
    left: 30px; 
    color:blue;
    font-size: 15px;
    
 }
.tag{
    position: relative;
    bottom: 190px;
    left: 15px;
    color:orangered;
    font-size: 15px;
    font-weight: 700;
}
.present-content{
    display: flex;
    justify-content: center;
    padding: 0px 0px 200px 40px;
   
}
#present-score{
    display: none;
    color:#fff;
    
}


#question-mark{
    position: relative;
    left:140px;
    bottom:100px;
    color: rgb(152, 98, 163);
    font-size: 20px;

}
.count-timer{
    position: absolute;
    bottom: 410px;
    left:630px;
}

#time-piece{
    display: none;
    background: blue;
    color: rgb(72, 232, 82);
    width:150px;
    height: 20px;
    padding-left: 8px;
    border-radius: 20px;
    font-size: 18px;

}
#timer{
    position: relative;
    bottom: 20px;
    left: 84px;
    
    
}
#music-btn{
    position: relative;
    top: 7px;
    left:570px;
    width:220px;
    padding: 4px 2px  4px 20px;
    background-color: #1e90ff;
}
#shuffle{
    display: none;
    font-size: 15px;
    color: orange;
}
#question-shuffle{
    position: absolute;
    bottom: 350px;
    left:360px;
}

.time-cont{
    width: 150px;
    height: 60px;
    background: red;
}

.time-up{
    color:#fff;
    font-size: 25px;
}

#score-chart{
  position: absolute; 
  bottom: 430px;
  left: 550px;
}

#game-over{
    color: #fff;
    display: none;
    color: rgb(30,142,225)

}
#total-score{
    color: #fff;
    display: none;
    color: rgb(30,142,225) 
}
#input-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top:90px;
    gap:10px;
    right:-60px;


}
#input-name{
    display: none; 
    padding: 0 2px 0px 2px; 
    /* color:green;  */
}

#save-score{
    display: none;
    width: 80px;
    height: 20px;
}

#main-menu{
    display: none; 
    width: 80px;
    height: 20px;
    /* position: relative;
    bottom: 80px;
    left: 82px; */
}
.save-button{
    display: flex;
    gap: 10px;
}
#score-name{
    position: relative;
    bottom: 120px;
    left:276px;
    display: none;
    color:orange;
}
.hall-score{
  /* width: 200px;
  height: 50px;
  background-color: red */
}
#list-score{
    position: relative;
    bottom: 120px;
    left:325px;
}
.pass{
    /* display: none; */
    color:white;
   
};
.word{
    display: none;
}
#hall-fame{
    display: none;
    position: relative;
    bottom: 660px;
    left:264px;
    color:aqua;
    
}
#menu-btn{
    display: none;
    position: relative;
    bottom: 650px;
    left:290px
}
#head-content{
    /* position: relative; */
    /* bottom: 180px; */
}




